
<div class="container">
    <div class="col-md-12">
        <div id="main-slider">
            <div class="item">
                <!--<img src="assets/img/main-slider1.jpg" alt="" class="img-responsive">-->
                <img src="assets/img/main-slider1.jpg" alt="" class="img-responsive" height="500">
            </div>
            <div class="item">
                <img class="img-responsive" src="assets/img/main-slider2.jpg" alt="" height="500">
            </div>
            <div class="item">
                <img class="img-responsive" src="assets/img/main-slider3.jpg" alt="" height="500">
            </div>
            <div class="item">
                <img class="img-responsive" src="assets/img/main-slider4.jpg" alt="" height="500">
            </div>
        </div>
        <!-- /#main-slider -->
    </div>
</div>


<div id="advantages">

    <div class="container">
        <div class="same-height-row">
            <div class="col-sm-4">
                <div class="box same-height clickable">
                    <div class="icon"><i class="fa fa-ambulance"></i>
                    </div>

                    <h3><a href="#">Cuidamos da saúde do seu animal</a></h3>
                    <p>Nós sabemos oferecer o melhor cuidado para seu rebanho.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="box same-height clickable">
                    <div class="icon"><i class="fa fa-tags"></i>
                    </div>

                    <h3><a href="#">Melhores Preços</a></h3>
                    <p>Oferecemos os melhores preços da região com entrega grátis</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="box same-height clickable">
                    <div class="icon"><i class="fa fa-thumbs-up"></i>
                    </div>

                    <h3><a href="#">100% satisfação garantida</a></h3>
                    <p>Total retorno do investimento para o produtor.</p>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /#advantages -->

<!-- *** ADVANTAGES END *** -->

<!-- *** HOT PRODUCT SLIDESHOW ***
_________________________________________________________ -->
<div id="hot">

    <div class="box">
        <div class="container">
            <div class="col-md-12">
                <h2>Produtos em oferta</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="product-slider">

            <div class="item" ng-repeat="produto in produtos" after-list-produto >
                <div class="product">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <!--<a href="detail.html">-->
                                    <img src="assets/img/produto1.png" alt="" class="img-responsive">
                                <!--</a>-->
                            </div>
                            <div class="back">
                                <!--<a href="detail.html">-->
                                    <img src="assets/img/produto2.png" alt="" class="img-responsive">
                                <!--</a>-->
                            </div>
                        </div>
                    </div>
                    <!--<a href="detail.html" class="invisible">-->
                        <img src="assets/img/produto1.png" alt="" class="img-responsive">
                    <!--</a>-->
                    <div class="text">
                        <h3>{{produto.itemCompra.nome}}</h3>
                        <p class="price">{{produto.preco | currency}}</p>
                        <p class="buttons">
                            <a href="#" class="btn btn-primary" ng-click="adicionarItemCarrinho($event, produto)"><i class="fa fa-shopping-cart"></i>Adicionar <br/>ao carrinho</a>
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
        </div>
        <!-- /.product-slider -->
    </div>
    <!-- /.container -->

</div>
<!-- /#hot -->

<!-- *** HOT END *** -->
